.p-hero {
	color: #ffffff;
	text-align: center;
	min-height: 1000px;
	background-color: #333;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;

	&:before {
		content: "";
		background: linear-gradient(to bottom,rgba(0,0,0,.65) 0,rgba(0, 0, 0, 0) 100%);
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 300px;
}

	p {
		color: #fff;
	}

	.p-inner-hero {
		display: flex;
		align-items: center;
		height: 100%;
	}

	.p-hero-text-container {
		padding-top: 100px;
		padding-bottom: 100px;
		width: 1800px;
		text-align: center;

		h1, h2, p, .button {
			text-shadow: 1px 1px 1px rgba(0,0,0,.8);
		}
	}

	.p-hero-text-right {
		position: absolute;
		right: 0;
	}
}

.hero {
	color: #ffffff;
	text-align: center;
	height: 100vh;
	min-height: 550px;
	background-color: #333;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;

	&:before {
		content: "";
		background: linear-gradient(to bottom,rgba(0,0,0,.65) 0,rgba(0, 0, 0, 0) 100%);
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 300px;
}

	p {
		color: #fff;
	}

	.inner-hero {
		display: flex;
		align-items: center;
		height: 100%;
	}

	.hero-text-container {
		width: 600px;
		text-align: left;

		h1, h2, p, .button {
			text-shadow: 1px 1px 1px rgba(0,0,0,.8);
		}
	}

	.hero-text-right {
		position: absolute;
		right: 0;
	}
}

.image {
	text-align: center;
}


.bottom-cta {
	text-align: center;

	h2 {
		margin-bottom: 12px;
	}
}

@media #{$desktop} {
	.flex {
		@include flexbox;
		align-items: center;
		flex-direction: row;

		.text, .image {
			-webkit-flex: 1;
			flex: 1;
			padding: 0 20px;
		}
	}

	.content section:nth-child(even) .flex {
		flex-direction: row-reverse;
	}
}


/* Custom Fonts */
.f_nps_c{font-family: 'Nanum Pen Script', cursive;}
.f_jg_ss{font-family: 'Jeju Gothic', sans-serif;}
.f_jm_s{font-family: 'Jeju Myeongjo', serif;}
.f_kb_s{font-family: 'KoPub Batang', serif;}
.f_nbs_c{font-family: 'Nanum Brush Script', cursive;}
.f_nsk_ss{font-family: 'Noto Sans KR', sans-serif;}
.f_h_ss{font-family: 'Hanna', sans-serif;}
.f_ng_ss{font-family: 'Nanum Gothic', sans-serif;}
.f_nm_s{font-family: 'Nanum Myeongjo', serif;}
.f_jh_c{font-family: 'Jeju Hallasan', cursive;}
.f_ngc_m{font-family: 'Nanum Gothic Coding', monospace;}


/* Custom Buttons */
.top_btn_box {
	border-style: none none solid none;
	border-color:#F4F4F4
}
.top_btn {
	background-color:gray;
	border:none;
	color:#fff;
	text-align:center;
	text-decoration:none;
	display:inline-block;
	font-size: 15px;
	margin:4px;
	cursor:pointer;
	border-radius:4px;
}
.top_btn:hover {
    background-color: black;
}
.sp_top_btn {
	background-color:gray;
	border:none;
	color:#fff;
	text-align:center;
	text-decoration:none;
	display:inline-block;
	font-size: 15px;
	margin:4px;
	cursor:pointer;
	border-radius:4px;
	padding:1.5px;
	padding-left:5px;
	padding-right:5px;
}
.private_btn_box {
	border-style: solid none solid none;
	border-color:#F4F4F4
}
.private_btn {
	background-color:gray;
	border:none;
	color:#fff;
	text-align:center;
	text-decoration:none;
	display:inline-block;
	font-size: 15px;
	margin:4px;
	cursor:pointer;
	border-radius:4px;
}
.private_btn:hover {
    background-color: black;
}
.uguide_box {
	padding: 10px;
	border-style: none none solid none;
	border-color:#F4F4F4
}
.uguide_list {
	margin-top: 5px;
	margin-bottom: 5px;
}
.uguide_box:hover {
	background-color: whitesmoke;
}
.uguide_elt {
	font-size:xx-small;
	background-color:none;
}
.uguide_elt:hover {
	font-size:small;
	font-weight:bold;
	color:white;
	border-style:solid;
	border-radius:4px;
	border-color:gray;
}
.bottom_btn_box {
	border-style: solid none none none;
	border-color:#F4F4F4
}
.bottom_btn {
	background-color:lightgray;
	border:none;
	color:#fff;
	text-align:center;
	text-decoration:none;
	display:inline-block;
	font-size: 15px;
	margin:4px;
	cursor:pointer;
	border-radius:4px;
}
.bottom_btn:hover {
    background-color: gray;
}

.link_btn_box {
	border-style: none none solid none;
	border-color:#F4F4F4
}
.link_btn {
	background-color:aliceblue;
	border:none;
	color:#fff;
	text-align:center;
	text-decoration:none;
	display:inline-block;
	margin:4px;
	cursor:pointer;
	border-radius:4px;
}
.link_btn:hover {
	background-color: steelblue;
	font-size: 18px;
}

/* Custom Mathblock */

.math-box {
	font-weight: bold;
	border-style: solid;
	border-left-width: 20px;
	border-left-color: red;
}
.math-box:hover {
	background-color: whitesmoke;
}
.math-box1 {
	font-weight: bold;
	border-left: solid;
	border-left-width: 20px;
	border-left-color: red;
}
.math-box1:hover {
	background-color: whitesmoke;
}
.math-box2 {
	font-weight: bold;
	border-left: solid;
	border-left-width: 15px;
	border-left-color: red;
}
.math-box2:hover {
	background-color: whitesmoke;
}
.math-box3 {
	font-weight: bold;
	border-left: solid;
	border-left-width: 10px;
	border-left-color: red;
}
.math-box3:hover {
	background-color: whitesmoke;
}
.math-box4 {
	font-weight: bold;
	border-left: solid;
	border-left-width: 5px;
	border-left-color: red;
}
.math-box4:hover {
	background-color: whitesmoke;
}
.math-box5 {
	font-weight: bold;
	border-left: solid;
	border-left-width: 1px;
	border-left-color: red;
}
.math-box5:hover {
	background-color: whitesmoke;
}







/* Custom Codeblock */
.code-title {
	overflow-x:auto;
    	font-weight: bold;
    	border-bottom: solid;
    	border-bottom-color: red;	
}

.code-path {
	overflow-x:auto;
    	color: black;
	background-color: whitesmoke;	
}

.sudo-code {
	padding: 20px;
	border: solid;
	border-color: black;
	overflow-x: auto;
	color: black;
	font-weight: bold;
	background-color: white;
}

.shell-code {
	overflow-x:auto;
	color:black;
	font-weight:bold;
	background-color:whitesmoke;
}

.latex-code {
	padding: 20px;
    	border: dashed;
    	border-color: azure;
	overflow-x:auto;
	color:burlywood;
	font-weight:bold;
	background-color:seashell;
}

.python-code {
	padding: 20px;
    	border: dashed;
    	border-color: azure;
	overflow-x:auto;
	color:aliceblue;
	font-weight:bold;
	background-color:steelblue;
}

.sql-code {
	padding: 20px;
    	border: dashed;
    	border-color: azure;
	overflow-x:auto;
	color:aliceblue;
	font-weight:bold;
	background-color:darkkhaki;
}

/* Custom Sidebar : left */
.sidebar_left {
	position: sticky;
	top: 60px;
	float: left;
	padding: 10px;
	border-radius: 3px;
	max-width: 400px;
	a {
		color:silver;
		text-decoration: none;
	}
	a:hover {
		color:gold;
	}
}

/* Custom Sidebar : right */
.sidebar_right {
	display: block;
	position: sticky;
	right: 0;
	width: 200px;
	margin-right: -300px;
	z-index: 10;
	clear: both;
	float: right;
	top: 100px;
}

.toc {
	background-color: #ffffff;
	border-radius: 4px;
	border-left: 2px solid ghostwhite;
	width: 100%;
	font-size: .75em;
	ul {
		margin: 0;
    		padding: 4px;
    		list-style: none;
	}
  	li {
    		padding: 0px 10px;
  	}
	display: none;
	@media (min-width: 75em){
    		width: 240px;
    		display: block;
  	}
	@media (min-width: 85em){
		width: 300px;
	    	display: block;
	}
	@media (min-width: 95em){
    		width: 360px;
    		display: block;
  	}
	a.toc-active {
    		font-weight: bold; 
    		transition: all 0.125s ease-in 0s; 
    		font-size: 1.25rem;
    		color: brown;
  	}
	a {
      		text-decoration: none;
	}
	a:hover {
     		color:gold;
  	}
}
.toc_main {
}
.toc_item {
}
.toc_submenu {
	border-left: 2px solid ghostwhite;	
	font-size:1em;
}
.toc_anchor {
	font-size:1em;
	color:black;
}



/* story block */
.sb_info {
	border: outset;
	border-radius: 3px;
	border-color: dimgrey;
	font-size:medium;
	font-weight:bold;
	color: navajowhite;
	background-color: black;
	padding: 3px;
}
.sb_main {
	padding: 10px;
	font-size:small;
}
.sb_main:hover {
	padding: 10px;
	font-weight:bold;
	background-color: whitesmoke;	
}


/* gallery block */
.g_summary {
	border-radius: 3px;
	font-size:medium;
	font-weight:bold;
	color:black;
	background-color:initial;
}
.g_main {
	border-radius: 3px;
	border: solid;
	border-color: cornflowerblue;
}
.g_info {
	font-size:medium;
	font-weight:normal;
	color:black;
	background-color:aliceblue;
}
.g_idiv {
	border-radius:3%;
	overflow:hidden;
}

/* manual */


