.hero {
	color: #ffffff;
	text-align: center;
	height: 100vh;
	min-height: 550px;
	background-color: #333;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;

	&:before {
		content: "";
		background: linear-gradient(to bottom,rgba(0,0,0,.65) 0,rgba(0, 0, 0, 0) 100%);
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 300px;
}

	p {
		color: #fff;
	}

	.inner-hero {
		display: flex;
		align-items: center;
		height: 100%;
	}

	.hero-text-container {
		width: 600px;
		text-align: left;

		h1, h2, p, .button {
			text-shadow: 1px 1px 1px rgba(0,0,0,.8);
		}
	}

	.hero-text-right {
		position: absolute;
		right: 0;
	}
}

.image {
	text-align: center;
}


.bottom-cta {
	text-align: center;

	h2 {
		margin-bottom: 12px;
	}
}

@media #{$desktop} {
	.flex {
		@include flexbox;
		align-items: center;
		flex-direction: row;

		.text, .image {
			-webkit-flex: 1;
			flex: 1;
			padding: 0 20px;
		}
	}

	.content section:nth-child(even) .flex {
		flex-direction: row-reverse;
	}
}


/* Custom  */


.top_btn_box {
	border-style: none none solid none;
	border-color:#F4F4F4
}
.top_btn {
	background-color:gray;
	border:none;
	color:#fff;
	text-align:center;
	text-decoration:none;
	display:inline-block;
	font-size: 15px;
	margin:4px;
	cursor:pointer;
	border-radius:4px;
}
.top_btn:hover {
    background-color: black;
}



.bottom_btn_box {
	border-style: solid none none none;
	border-color:#F4F4F4
}
.bottom_btn {
	background-color:lightgray;
	border:none;
	color:#fff;
	text-align:center;
	text-decoration:none;
	display:inline-block;
	font-size: 15px;
	margin:4px;
	cursor:pointer;
	border-radius:4px;
}
.bottom_btn:hover {
    background-color: gray;
}




.link_btn_box {
	border-style: none none solid none;
	border-color:#F4F4F4
}
.link_btn {
	background-color:black;
	border:none;
	color:#fff;
	text-align:center;
	text-decoration:none;
	display:inline-block;
	font-size: 30px;
	margin:4px;
	cursor:pointer;
	border-radius:4px;
}
.link_btn:hover {
    background-color: gray;
}


.code-title {
	overflow-x:auto;
    	border-radius: 3px;
    	font-weight: bold;
    	color: ghostwhite;
    	background-color: black;
}

.code-path {
	overflow-x:auto;
    	color: black;
	background-color: whitesmoke;	
}

.shell-code {
	overflow-x:auto;
	color:black;
	font-weight:bold;
	background-color:whitesmoke;
}

.python-code {
	overflow-x:auto;
	color:springgreen;
	font-weight:bold;
	background-color:black;
}



.sidebar__right {
	display: block;
	position: sticky;
	right: 0;
	width: 200px;
	margin-right: -300px;
	/* padding-left: 1em; */
	z-index: 10;
	clear: both;
	float: right;
	top: 100px;
}

.toc {
	background-color: #ffffff;
	border-radius: 4px;
	width: 100%;
	font-size: .75em;
	ul {
		margin: 0;
    		padding: 4px;
    		list-style: none;
	}
  	li {
    		padding: 0px 10px;
  	}
	
	
	display: none;
	@media (min-width: 75em){
    		width: 240px;
    		display: block;
  	}
	@media (min-width: 85em){
		width: 300px;
	    	display: block;
	}
	@media (min-width: 95em){
    		width: 360px;
    		display: block;
  	}
	a.toc-active {
    		font-weight: bold; 
    		transition: all 0.125s ease-in 0s; 
    		font-size: 0.75rem;
    		color: #9075aa;
  	}
	a {
      		color: black;
      		text-decoration: none;
	}
	a:hover {
     		color:black;
  	}
}
